<?xml version="1.0"?>
<launch>
  <!-- start Webots -->
  <arg name="no-gui" default="false," doc="Start Webots with minimal GUI"/>

  <include file="$(find webots_ros)/launch/webots.launch">
    <arg name="mode" value="realtime"/>
    <arg name="no-gui" value="$(arg no-gui)"/>
    <arg name="world" value="$(env HOME)/projects/webots/infineon_hackathon/worlds/simple_reduced.wbt"/>
  </include>

  <!-- <include file="$(find webots_arm)/launch/camera_control.launch"/> -->
  <include file="$(find webots_arm)/launch/pointcloud_control.launch"/>
  <!-- <include file="$(find webots_arm)/launch/joint_control.launch"/> -->

</launch>