<?xml version="1.0"?>
<launch>
  <arg name="joint_update_rate" default="25" />
  <node name="$(anon joint_state_throttle)" pkg="topic_tools" type="throttle"
        args="messages joint_states $(arg joint_update_rate) joint_states_sim" required="true">
    <param name="unreliable" type="bool" value="true" />
  </node>

  <node name="joint_control_1" pkg="webots_arm" type="joint_control" output="screen" required="true">
    <param name="name" type="string" value="joint_1"/>
    <remap from="joint_states" to="joint_states_throttle"/>
  </node>
  <node name="joint_control_2" pkg="webots_arm" type="joint_control" output="screen" required="true">
    <param name="name" type="string" value="joint_2"/>
    <remap from="joint_states" to="joint_states_throttle"/>
  </node>
  <node name="joint_control_3" pkg="webots_arm" type="joint_control" output="screen" required="true">
    <param name="name" type="string" value="joint_3"/>
    <remap from="joint_states" to="joint_states_throttle"/>
  </node>
  <node name="joint_control_4" pkg="webots_arm" type="joint_control" output="screen" required="true">
    <param name="name" type="string" value="joint_4"/>
    <remap from="joint_states" to="joint_states_throttle"/>
  </node>
  <node name="joint_control_5" pkg="webots_arm" type="joint_control" output="screen" required="true">
    <param name="name" type="string" value="joint_5"/>
    <remap from="joint_states" to="joint_states_throttle"/>
  </node>
  <node name="joint_control_6" pkg="webots_arm" type="joint_control" output="screen" required="true">
    <param name="name" type="string" value="joint_6"/>
    <remap from="joint_states" to="joint_states_throttle"/>
  </node>

  <!--<node name="gripper_control" pkg="webots_arm" type="gripper_control" output="screen" required="true" /> -->

</launch>
